<div class="container">
    <div class="content">
        <div class="col-xs-12">
            <h1>Truyen title</h1>
            <h4>Chuong</h4>
            <p>Nguoi dang</p>
            <p>Ngay dang</p>
            <div class="col-xs-12">
                <div class="chapter">
                    <ul class="control">
                        <li class="list-control"></li>
                        <li class="list-control"></li>
                        <li class="list-control"></li>
                    </ul>
                    <div class="chapter-content">
                    </div>
                </div>
                <div class="control-bottom"></div>
            </div>
        </div>
    </div>
</div>