.container {
  max-width: 1200px;
}
.category {
  margin-top: -8px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

.category-list li {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  height: 60px;
}

.category-list li.even {
  width: 50%;
  background-color: #f7f6f2;
  height: 60px;
}
.news {
  border: 1px solid #e6e6e6;
  margin-top: -8px;
}
.news ul {
    margin: 8px 0;
}
.news ul li:nth-child(even){
    background-color: #f7f6f2;
}
.wrap-title {
  border-bottom: 1px solid #666;
}
h4 {
  color: white;
  background: #228b22;
  padding-left: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}
