<div class="container">
  <div class="row"> <!--Row 1-->
    <div class="col-lg-3 px-0">
      <h4>Thể loại</h4>
      <div class="category">
        <ul class="category-list">
          <li *ngFor="let category of listCategories; let i = index" [class.even]="i % 4 === 0 || i % 4 === 1">
            <a (click)="onCategoryClick(category.id)">{{category.categoryName}}</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="col-lg-7">
      <div class="carousel"> <!-- Carousel -->
        <app-carousel></app-carousel>
      </div>
    </div>
    <div class="col-lg-2 px-0">
      <h4>Mới cập nhật</h4>
      <div class="news"> <!-- News -->
        <ul>
          <li *ngFor="let book of listRecentBookCard; let i = index" [class.even]="i % 2 === 0">
            {{i+1}}. {{book.bookTitle}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="listNewBookCard.length > 0"> <!--List book 1-->
    <div class="container" style="margin-top: 70px;">
      <h3 class="wrap-title">Truyện mới</h3>
      <div class="row">
        <div *ngFor="let book of listNewBookCard" class="col-sm-4 p-2">
          <app-book-card [bookCard]= "book"></app-book-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="listNewBookCard.length > 0"> <!--List book 2-->
    <div class="container" style="margin-top: 70px;">
      <h3 class="wrap-title">Truyện hoàn thành</h3>
      <div class="row">
        <div *ngFor="let book of listNewBookCard" class="col-sm-4 p-2">
          <app-book-card [bookCard] = "book"></app-book-card>
        </div>
      </div>
    </div>
  </div>
</div>
