<div class="book-detail-container">
  <div class="row">
    <div class="col-lg-9">
      <div class="book-detail"><!--Contain information of book-->
        <div class="book-image">
          <img src="{{bookDetails?.imageUrl}}" alt="Book Image">
        </div>
        <div class="book-info">
          <h2>{{bookDetails?.bookTitle}}</h2>
          <div *ngIf="categories.length > 0">
            <span *ngFor="let category of categories ">
              <a><i>{{category.categoryName}}</i></a>
            </span>
          </div>
          <p>Tác giả: {{bookDetails?.authorName}}</p>
          <p>
          <a (click)="navigateToChapter(1)"  class="btn btn-danger">Đọc truyện</a>
          <a  class="btn btn-primary">Theo dõi</a>
          </p>
        </div>
      </div>
      <div class="book-navbar"><!--Contain tab summary, chapter and comments-->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': activeTab === 'summary'}" (click)="setActiveTab('summary')" data-toggle="tab">
             Thông tin chi tiết
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': activeTab === 'chapter'}" (click)="setActiveTab('chapter')" data-toggle="tab">
              Danh sách chương
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': activeTab === 'comments'}" (click)="setActiveTab('comments')" data-toggle="tab">
              Bình luận
            </a>
          </li>
        </ul>
      
        <div class="tab-content">
          <div class="tab-pane fade show active" [ngClass]="{'show active': activeTab === 'summary'}" id="summary">
            <p>{{bookDetails?.bookSummary}}</p>
          </div>
          <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'chapter'}" id="chapter">
            <div class="volume">
              <h5>Danh sách chương</h5>
              <router-outlet></router-outlet>
              <ul *ngFor="let chapter of chapters">
                <li><a (click)="navigateToChapter(chapter.chapterNumber)">{{chapter.chapterName}}</a></li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'comments'}" id="comments">
            <div class="list-comment">
              <div class="comment-section">
                <h3 class="comment-title">Bình luận truyện</h3>
                <hr class="underline">

                <!-- Comment Form -->
                <div class="comment-post">
                  <img class="image" src="./assets/images/avatar-icon.png" alt="">
                  <div class="comment-form">
                    <textarea placeholder="Write your comment"></textarea>
                    <button type="submit">Bình luận</button>
                  </div>
                </div>

                <!-- Comments -->
                <div class="comments">
                  <ul *ngFor="let comment of userComment">
                    <li class="comment">
                      <div class="user-photo">
                        <a href=""><img src="./assets/images/avatar-icon.png" alt=""></a>
                      </div>
                      <div class="discuss">
                        <a href=""><p>{{comment.user.fullName}}</p></a>
                        <p>{{comment.commentContent}}</p>
                        <p class="inline-element">
                          <span class="inline-element" style="margin-right: 20px;">{{comment.commentedTime | date:'MMM dd, yyyy HH:mm a'}}</span>
                          <a (click)="toggleContent()">
                            <i class="fa-regular fa-comment-dots inline-element"></i>
                            Trả lời
                          </a>
                        </p>

                        <!-- Replies -->
                        <div class="replies" [ngStyle]="{'display': showContent ? 'block' : 'none'}">
                          <ul *ngFor="let reply of comment.replies">
                            <li class="comment">
                              <div class="user-photo">
                                <a href=""><img src="./assets/images/avatar-icon.png" alt=""></a>
                              </div>
                              <div class="discuss">
                                <a href=""><p>{{reply.user.fullName}}</p></a>
                                <p>{{reply.replyContent}}</p>
                                <p class="inline-element">
                                  <span class="inline-element" style="margin-right: 20px;">{{reply.repliedTime | date:'MMM dd, yyyy HH:mm a'}}</span>
                                </p>
                              </div>
                            </li>
                          </ul>
                          <!-- Reply Form -->
                          <div class="reply-form">
                            <!-- Your reply form elements go here -->
                            <textarea placeholder="Write your reply"></textarea>
                            <button type="submit">Trả lời</button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 border">
      <h3>Cùng tác giả</h3>
      <div *ngFor="let book of bookCard" class="list-author-book">
        <app-book-card [bookCard]="book"></app-book-card>
      </div>
    </div>
  </div>
</div>









