<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="box">
        <p>Sắp xếp</p>
        <ul>
          <li>
            <a (click)="selectOrder('all')" class="btn btn-outline-warning" 
            [class.selected]="selectedOrder === undefined">Không sắp xếp</a>
          </li>
          <li>
            <a (click)="selectOrder('new')" class="btn btn-outline-warning"
            [class.selected]="selectedOrder === 'new'">Mới ra</a>
          </li>
          <li>
            <a (click)="selectOrder('recent')" class="btn btn-outline-warning"
            [class.selected]="selectedOrder === 'recent'">Mới cập nhật</a>
          </li>
        </ul>
      </div>
      <div class="box">
        <p>Tình trạng</p>
        <ul>
          <li>
            <a (click)="selectStatus('all')" class="btn btn-outline-warning"
            [class.selected]="selectedStatus === undefined">Toàn bộ</a>
          </li>
          <li>
            <a (click)="selectStatus('completed')" class="btn btn-outline-warning"
            [class.selected]="selectedStatus === 'completed'">Hoàn thành</a>
          </li>
          <li>
            <a (click)="selectStatus('incomplete')" class="btn btn-outline-warning"
            [class.selected]="selectedStatus === 'incomplete'">Chưa hoàn thành</a>
          </li>
        </ul>
      </div>
      <div class="box">
        <p>Số chương</p>
        <ul>
          <li>
            <a (click)="selectNumberOfChapter('all')"  class="btn btn-outline-warning"
            [class.selected]="selectedChapter === undefined">Toàn bộ</a>
          </li>
          <li>
            <a (click)="selectNumberOfChapter('0-4')" class="btn btn-outline-warning"
            [class.selected]="selectedChapter === '0-4'">< 5 </a>
          </li>
          <li>
            <a (click)="selectNumberOfChapter('5-10')" class="btn btn-outline-warning"
            [class.selected]="selectedChapter === '5-10'">5 - 10</a>
          </li>
          <li>
            <a (click)="selectNumberOfChapter('10')" class="btn btn-outline-warning"
            [class.selected]="selectedChapter === '10'">> 10</a>
          </li>
        </ul>
      </div>
      <div class="box">
        <p>Thể loại</p>
        <ul>
          <li>
            <a (click)="selectCategory(undefined)" class="btn btn-outline-warning"
            [class.selected]="selectedCate === undefined">Toàn bộ</a>
          </li>
          <li *ngFor="let cate of categories">
            <a (click)="selectCategory(cate.id)" class="btn btn-outline-warning"
            [class.selected]="selectedCate === cate.id">{{cate.categoryName}}</a>
          </li>
        </ul>
      </div>
      <button (click)="loadFilteredBooks()" class="btn btn-success filter" type="submit">Lọc</button>
    </div>
    <div class="col-lg-9">
      <h3>Bộ lọc</h3>
      <h4 *ngIf="listBooks.length === 0">Không có kết quả</h4>
      <div *ngFor="let book of listBooks">
        <div class="card border-0">
          <div class="book-content" style="border-bottom: 1px solid gray">
            <img
              class="propImg"
              src="{{book.imageUrl}}"
              alt="images"
            />
            <div class="card-body">
              <a class="book-name" [routerLink]="['/book-details', transferBookTitle(book.bookTitleNormalize)]">{{book.bookTitle}}</a>
              <div class="book-author">
                <p>
                  <img src="./assets/images/human-icon.svg" alt="human icon" />
                  <a href="">{{ book.authorName }}</a>
                  <em>|</em>
                  <span>{{book.numberOfChapters}} chương</span>
                  <em>|</em>
                  <span>{{showStatusOfBook(book.isCompleted)}}</span>
                </p>
                <!-- <p *ngFor="let cate of categories"><a href="">{{ cate.categoryName }}</a></p> -->
                <p>{{ book.bookSummary | slice : 0 : 200 }}</p>
                <p>Cập nhật: <span style="color:#ccc;">{{book.updatedTime | date:'dd-MM-yyyy HH:mm'}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

